* {
    box-sizing: border-box;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  [class*="col-"] {
    float: left;
    padding: 15px;
  }
  
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}

body {
    background-image: linear-gradient(to right, powderblue, powderblue )
}
.common {
    font-size: 8vw;
    font-family: Luminari, Verdana, Geneva, Tahoma, sans-serif;
}

first-number {
    color: red;    
}

operation, equals {
    color: blue;    
}

second-number {
    color: green;    
}

.boxsize {
    font-size: 8vw;
    background-color: palegoldenrod;
    font-family: Luminari, Verdana, Geneva, Tahoma, sans-serif;
    color: rebeccapurple;
}

button {
    font-size: 2vw;
    font-family: Luminari, Verdana, Geneva, Tahoma, sans-serif;
    margin: 4% 2%;
    background-color: thistle;    
    border-radius: 50%;
}

button:hover {
    background-color: greenyellow;
}

.pos-neutral  {
    width: 350px;
    height: 314px;
    background: url("../img/the-best-cheese-removebg.png") -20px 0px;  
  }

.pos-first-wrong {
    width: 308px;
    height: 360px;
    background: url("../img/the-best-cheese-removebg.png") -350px -309px;  
}

.pos-second-wrong {
    width: 277px;
    height: 320px;
    background: url("../img/the-best-cheese-removebg.png") -994px -326px;  
}

.pos-first-right {
    width: 308px;
    height: 280px;
    background: url("../img/the-best-cheese-removebg.png") -350px -669px;  
}

h1 {
    color: aqua;
    background-color: black;
    animation: movearound;
    animation-duration: 10s;
}
div { 
    position: relative;       
    animation: movesideways;
    animation-duration: 6s;
}
div2 { 
    position: relative;       
    animation: movesidecar;
    animation-duration: 5s;
    animation-timing-function: linear;
}

div3 { 
    position: relative;       
    animation: movesidecar;
    animation-duration: 5s;
    animation-timing-function: ease-out;
}

img { 
    position: relative;       
    animation: spinny;
    animation-duration: 0.5s;
    animation-iteration-count: 2;
}
@keyframes movesideways {
    0% { background-color:red; transform: rotate(50deg); left:0px;top: 0px; }
    50% { background-color:blue; left:1000px; top: 500px;}
    100% {background-color:greenyellow; left:0px; top: 0px;}
}

@keyframes movesidecar {
    0% {  left:0px;top: 0px; }
    50% { left:1000px; top: 500px;}
    100% { left:0px; top: 0px;}
}

@keyframes movearound {
    50% {transform: rotate(180deg); background-color:blue;left:200px;}
    10% {transform: rotate(90deg); background-color:red;left:0px;}
    100% {transform: rotate(360deg);background-color:greenyellow; left:100px;}
}

@keyframes spinny {
    0% {transform: rotate(360deg); }
}